body {
    background-color:black;
    font-family:arial;
    color:white
}

h1 {
    color:grey;
    font-family:verdana;
    font-size: 1.2em;
}

footer {
    font-size: 0.8em
}

label{
    display: inline-block;
    float: left;
    width: 120px;
    text-align: left;
}

input {
  display: inline-block;
  float: left;
  width: 90px;
}

mark {
    background-color: yellow;
}

.maindiv {
    background-color: white;
    color: black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align-self:center;
    margin:auto    
}
.container{
    width: 280px;
    align-self:center;
    margin:auto;
    font-weight:600px;
    line-height:1em;
    font-size: 0.9em
}

#rate_val {
    width: 50px;
}

#result {
margin-top: 10px;
}


.container{
    width: 280px;
    align-self:center;
    margin:auto;
    font-weight:600px;
    line-height:1em;
    font-size: 0.9em
}

